<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="ParametrosSAP" type="System.Configuration.NameValueSectionHandler"/>
    <section name="DefaultSettings" type="System.Configuration.NameValueSectionHandler"/>    
    <section name="ParametrosInvent" type="System.Configuration.NameValueSectionHandler"/>    
  </configSections>
  <DefaultSettings>

    <add key="Address" value="portaldecompras@eletromidia.com.br"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="Port" value="587"/>
    <add key="UserName" value="portaldecompras@eletromidia.com.br"/>
    <add key="Password" value="ELT@Portal#@2022!"/>

    <!-- atualiza data do Documento de Marketing no momento da aprovação -->
    <add key="UpdateTaxDateNow" value="true"/>

    <!-- layout default do email de pedido de compra -->
    <add key="PODefMailLayout" value="Layouts\defaultPurchaseOrder.xslt"/>
    <!-- layout default do email de solicitação de compra -->
    <add key="RQDefMailLayout" value="Layouts\defaultPurchaseRequest.xslt"/>

    <!-- Paginação manual das query Hana -->
    <add key="PaginationLimit" value="20"/>
    <add key="ReceivPaginationLimit" value="20"/>
	  
	  

  </DefaultSettings>  
  <ParametrosSAP>
    <add key="HanaApi" value="https://10.120.36.197:50000/b1s/v1/"/>
    <add key="url" value="http://localhost:44357/Home/"/>
	  <!--<add key="connString" value="Server=hanab1:30015;UserID=SYSTEM;Password=Elemidia@3198;CS=SBO_ELEMIDIA_PRD"/>
	<add key="CompanyDB" value="SBO_ELEMIDIA_PRD"/>-->
	  <add key="connString" value="Server=hanab1:30015;UserID=SYSTEM;Password=Elemidia@3198;CS=SBO_ELEMIDIA_PRD2_1907"/>
	  <add key="CompanyDB" value="SBO_ELEMIDIA_PRD2_1907"/>    
    <add key="Server" value="hanab1:30015"/>
    <add key="DbUserName" value="SYSTEM"/>
    <add key="DbPassword" value="Elemidia@3198"/>    
    <add key="UserName" value="INT001"/>
    <add key="Password" value="B1@admin"/>
	<add key="AltUserName" value="INT002"/>
	<add key="AltPassword" value="B1@admin"/>  
    <add key="LicenseServer" value="hanab1:40000"/>
    <add key="DbServerType" value="9"/>
    <add key="PortaHttp" value="80"/>
    <add key="PortaHttps" value="443"/>
	  
    <!--dst_MSSQL = 1,
    dst_DB_2 = 2,
    dst_SYBASE = 3,
    dst_MSSQL2005 = 4,
    dst_MAXDB = 5,
    dst_MSSQL2008 = 6,
    dst_MSSQL2012 = 7,
    dst_MSSQL2014 = 8,
    dst_HANADB = 9,
    dst_MSSQL2016 = 10,
    dst_MSSQL2017 = 11-->
  </ParametrosSAP>
  <ParametrosInvent>
    <add key="UrlInvent" value="http://10.120.36.196:9992/api/v2/ELEMIDIA_PRD/cobranca/boletos/"/>
    <add key="Extension" value="/pdf"/>
    <add key="Authorization" value="8baf8c23-6dd1-4f71-b743-0d6301d250f8"/>
	<add key="ContentType" value="application/x-pdf"/>
    <!--<add key="ContentType" value="application/x-www-form-urlencoded"/>-->
  </ParametrosInvent>
  <!--<EmailEletromidia>
    <add key="Email" value="portaldecompras@eletromidia.com.br"/>
    <add key="PasswordEmail" value="Wum73436"/>
  </EmailEletromidia>-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation defaultLanguage="vb" targetFramework="4.7.2" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-106.0.0.0" newVersion="106.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 1E483313-D0AA-4B20-9063-3FC9DEBEBC1E-->